<!DOCTYPE html>
<html>
	<head>
		<title>Task-Runner</title>

		<script src="/js"></script>
		<link href="/css" rel="stylesheet">
	</head>
	<body>
		<div id="app">
			<div class="navigation">
				<h1>Task-Runner</h1>

				<ul class="errors">
					<transition name="slide">
						<li class="socket" v-if="!socket.connected" key="socket">Reconnecting socket</li>
					</transition>

					<transition name="slide">
						<li v-for="(error, index) in errors" :key="error" v-on:click="removeError(index)">{{ error }}</li>
					</transition>
				</ul>

				<transition name="fade">
					<div v-if="loading"><div class="spinner">Loading</div></div>
				</transition>

				<!-- Main Navigation -->
				<transition name="fade">
					<ul class="tasks" v-if="!loading">
						<li v-for="task in tasks" :key="task.id" :class="{ active: task.active }" v-on:click="selectTask(task.id)">
							<a href="#">{{ task.name }}</a>

							<div class="popover">
								<span>Working Directory:<code>{{ task.cwd }}</code></span><br/>
								<span>Executable:<code>{{ task.script }}</code></span><br/>
								<span>Arguments:<code v-for="arg in task.args">{{ arg }}</code></span>
							</div>
						</li>
					</ul>
				</transition>
			</div>

			<!-- Placeholder if task was not run yet -->
			<transition name="flex">
				<div v-if="!activeInvocation && !loading" class="invocations-placeholder">
					<p>This task has not been run yet.</p>
					<button v-on:click="startInvocation(activeTask.id)">Run</button>
				</div>
			</transition>

			<!-- Invocation information -->
			<transition name="flex">
				<div class="invocations" v-if="activeInvocation && !loading">
					<div class="sidebar">
						<transition name="collapse">
							<div v-show="!activeTask.running" class="add">
								<button v-on:click="startInvocation(activeTask.id)">+</button>
							</div>
						</transition>

						<!-- Invocation list -->
						<transition-group name="collapse" tag="ul" class="list">
							<li	v-for="invocation in activeTask.invocations"
							    v-on:click="selectInvocation(invocation.id)"
							    :key="invocation.id"
							    :class="{
									failed: invocation.exit !== 0,
									running: invocation.exit === null,
									active: invocation.active
								}">
								{{ ((d, p) => p(d.getDate()) + '.' + p(d.getMonth()) + '.' + d.getFullYear() + ' - ' + p(d.getHours()) + ':' + p(d.getMinutes()))(new Date(invocation.start), i => i > 9 ? i : '0' + i) }}
							</li>
						</transition-group>
					</div>

					<div class="output">
						<h3 key="heading">Output</h3>

						<span>Duration: {{Math.floor(((activeInvocation.end || now) - activeInvocation.start) / 1000)}}s</span>
						<span>Exit Code: {{ activeInvocation.exit === null ? '-' : (activeInvocation.exit === 3221225786 ? 'Cancelled' : activeInvocation.exit) }}</span>

						<div class="pre-wrapper">
							<pre :class="{ stderr: entry.fd === 'stderr' }" v-for="(entry, index) in activeInvocation.output" :key="index"><code>{{ entry.data }}</code></pre>
						</div>
					</div>
				</div>
			</transition>
		</div>
	</body>
</html>
