@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/NotoSans.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/NotoSans-Bold.woff') format('woff');
	font-weight: bold;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/NotoSans-Italic.woff') format('woff');
	font-style: italic;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/NotoSans-Italic.woff') format('woff');
	font-style: oblique;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/NotoSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/NotoSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: oblique;
}

@font-face {
	font-family: 'Noto Mono';
	src: url('/fonts/NotoMono.woff') format('woff');
}
