@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Italic.woff') format('woff');
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Italic.woff') format('woff');
	font-style: oblique;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/fonts/OpenSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: oblique;
}

@font-face {
	font-family: 'DejaVu Sans Mono';
	src: url('/fonts/DejaVuSans-Mono.woff') format('woff');
}
