$background-page: linear-gradient(to bottom, rgba(83,104,127,1) 0%,rgba(33,72,92,1) 100%);
$background-light: rgb(236, 242, 247);
$background-lighter: rgb(255, 255, 255);
$background-dark: rgb(53, 64, 82);
$background-code: rgb(40, 49, 62);

$border-dark: rgb(229, 231, 234);
$border-light: rgb(246, 247, 248);

$accent-color: rgb(21, 164, 250);
$font-color-light: rgb(100, 112, 130);
$font-color-light-bold: rgb(78, 81, 94);
$font-color-dark: rgb(168, 177, 187);
$font-color-dark-bold: rgb(255, 255, 255);
$font-color-code: $font-color-dark;

$border-radius: 3px;
